<app-nav></app-nav>
<div class="wrapper">
    <div class="header header-filter" style="background-image: url('../assets/img/examples/city.jpg');"></div>

    <div class="main main-raised">
              <div class="profile-content">
            <div class="container">
               <div class="description text-center">
                    <p>I’ve been in the IT industry my entire career. I have over 25 years experience, spanning multiple domains including entertainment, banking, commercial mortgages, hedge-funds, and healthcare. I’m passionate about using technology to
                        solve hard business problems. I love making systems work together by either native integration, or custom, elegant solutions.</p>
                    <p> Technology is a tool that needs to be wielded. Technology is not a push-button, “solve all of my issues” with one application. It takes a deep understanding of your users, their problems, and their goals. From that you begin to develop
                        a picture of what technology tool solves their problem. Moreover, having a deep understanding of future technology trends and expectations, building a solution that doesn’t pigeon-hole your client, but prepares them for the future.</p>
                </div>
            </div>
</div>
    </div>
</div>