<app-nav></app-nav>
<div class="wrapper">
    <div class="header header-filter" style="background-image: url('../assets/img/examples/city.jpg');"></div>

    <div class="main main-raised">
        <div class="container">
            <div class="section text-center section-landing">
                <div class="features">

                    <div class="row">

                        <div class="col-md-4" *ngFor="let co of cos.slice(0,3); ">
                            <div class="info">
                                <img src="/assets/img/logo/{{co.logo}}" alt="{{co.name}}" class="img-raised logo">
                                <h4 class="info-title">{{co.name}}</h4>
                                <p>{{co.description}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4" *ngFor="let co of cos.slice(4,7); ">
                            <div class="info">
                                <img src="/assets/img/logo/{{co.logo}}" alt="{{co.name}}" class="img-raised">
                                <h4 class="info-title">{{co.name}}</h4>
                                <p>{{co.description}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4" *ngFor="let co of cos.slice(7,8); ">
                            <div class="info">
                                <img src="/assets/img/logo/{{co.logo}}" alt="{{co.name}}" class="img-raised">
                                <h4 class="info-title">{{co.name}}</h4>
                                <p>{{co.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>