<router-outlet>
</router-outlet>


<footer class="footer">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://docs.google.com/document/d/1cYQlYo4R4sDlDcbZAyjHI8ovnXEX-eSSquUSrELAuN4/edit?usp=sharing">
							Raphael Thiney
						</a>
                </li>
                <li>
                    <a href="https://www.beyond.com/RaphaelThiney?preview=1">
				Curriculum Vitae
						</a>
                </li>

                <li>
                    <a href="/blog">
						   Blog
						</a>
                </li>
                <li>
                    <a href="/policy">
							Privacy Policy
						</a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; 2017, made by Raphael Thiney {{title}}
        </div>
    </div>
</footer>