<router-outlet>
</router-outlet>

<footer class="footer">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://docs.google.com/document/d/1cYQlYo4R4sDlDcbZAyjHI8ovnXEX-eSSquUSrELAuN4/edit?usp=sharing">
							Raphaël Thiney CV
						</a>
                </li>
                <li>
                    <a href="/privacy">
						   Privacy Policy
						</a>
                </li>
                <li>
                    <a href="/contact">
						   Contact
						</a>
                </li>
            </ul>
        </nav>

        <div class="copyright pull-right">
            &copy; 2017, made by Raphaël Thiney
        </div>
    </div>
</footer>