<nav class="navbar navbar-transparent navbar-absolute">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
      <a href="https://www.beyond.com/RaphaelThiney">
        <div class="logo-container">
          <div class="logo">
            <img src="assets/img/RaphPhotoFaceSmall.jpg">
          </div>
          <div class="brand">
            Raphaël Thiney
          </div>
        </div>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navigation-example">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]=" ['/'] ">Home</a>
        </li>
        <li>
          <a [routerLink]="['/profile']">Profile</a>
        </li>
        <li>

          <a [routerLink]="['/clients']">Clients</a>
        </li>
        <li>
          <a [routerLink]="['/projects']">Projects</a>
        </li>
        <li>
          <a [routerLink]="['/contact']">Contact</a>
        </li>
        <li>
          <a href="https://twitter.com/RaphaelThiney" target="_blank" class="btn btn-simple btn-white btn-just-icon">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/raphaelthiney/" target="_blank" class="btn btn-simple btn-white btn-just-icon">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>

        <li>
          <a href="https://www.facebook.com/raphael.thiney" target="_blank" class="btn btn-simple btn-white btn-just-icon">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/rthiney" target="_blank" class="btn btn-simple btn-white btn-just-icon">
            <i class="fa fa-github"></i>


          </a>


        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="wrapper">
  <div class="header header-filter" style="background-image: url('assets/img/city.jpg');"></div>
  <div class="main main-raised">
    <div class="container">
      <h1 class="title">
        Private Policy
        <br>
        <small>...shhhhhhhhhhhhhhhh.</small>
      </h1>
      <div class="row">
        <div class="col-md-8 col-sm-6">
          <p class="title">Our Privacy Policy General rules Creative Tim does not share personal information of any kind with anyone. We will
            not sell or rent your name or personal information to any third party. We do not sell, rent or provide outside
            access to our mailing list or any data we store. Any data that a user stores via our facilities is wholly owned
            by that user or business. At any time a user or business is free to take their data and leave, or to simply delete
            their data from our facilities. Creative Tim only collects such personal information that is necessary for you
            to access and use our services. This personal information includes, but is not limited to, first and last name,
            email address. Creative Tim may release personal information if Creative Tim is required to by law, search warrant,
            subpoena, court order or fraud investigation. We may also use personal information in a manner that does not
            identify you specifically nor allow you to be contacted but does identify certain criteria about our Site's users
            in general (such as we may inform third parties about the number of registered users, number of unique visitors,
            and the pages most frequently browsed). Changes about privacy If we change our terms of use we will post those
            changes on this page. Registered users will be sent an email that outlines changes made to the terms of use.
            <span style="color:white">{{env}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
