<app-nav></app-nav>
<div class="wrapper">
    <div class="header header-filter" style="background-image: url('../assets/img/examples/city.jpg');"></div>

    <div class="main main-raised">

        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="profile">
                        <div class="avatar">
                            <img src="../assets/img/RaphPhotoFaceSmall.jpg" alt="Circle Image" class="img-circle img-responsive img-raised">
                        </div>
                        <div class="name">
                            <h3 class="title"> Raphaël Thiney </h3>
                            <h4>CTO</h4>
                        </div>
                    </div>
                </div>
                <div class="description text-center">
                    <p>I’ve been in the IT industry my entire career. I have over 25 years experience, spanning multiple domains including entertainment, banking, commercial mortgages, hedge-funds, and healthcare. I’m passionate about using technology to
                        solve hard business problems. I love making systems work together by either native integration, or custom, elegant solutions.</p>
                    <p> Technology is a tool that needs to be wielded. Technology is not a push-button, “solve all of my issues” with one application. It takes a deep understanding of your users, their problems, and their goals. From that you begin to develop
                        a picture of what technology tool solves their problem. Moreover, having a deep understanding of future technology trends and expectations, building a solution that doesn’t pigeon-hole your client, but prepares them for the future.</p>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="profile-tabs">
                            <div class="nav-align-center">
                                <ul class="nav nav-pills" role="tablist">
                                    <li class="active">
                                        <a href="#studio" role="tab" data-toggle="tab">
                                            <i class="material-icons">camera</i> Studio
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#work" role="tab" data-toggle="tab">
                                            <i class="material-icons">palette</i> Work
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#shows" role="tab" data-toggle="tab">
                                            <i class="material-icons">favorite</i> Favorite
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content gallery">
                                    <div class="tab-pane active" id="studio">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <img src="../assets/img/examples/chris1.jpg" class="img-rounded" />
                                                <img src="../assets/img/examples/chris0.jpg" class="img-rounded" />
                                            </div>
                                            <div class="col-md-6">
                                                <img src="../assets/img/examples/chris3.jpg" class="img-rounded" />
                                                <img src="../assets/img/examples/chris4.jpg" class="img-rounded" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane text-center" id="work">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <img src="../assets/img/examples/chris5.jpg" class="img-rounded" />
                                                <img src="../assets/img/examples/chris7.jpg" class="img-rounded" />
                                                <img src="../assets/img/examples/chris9.jpg" class="img-rounded" />
                                            </div>
                                            <div class="col-md-6">
                                                <img src="../assets/img/examples/chris6.jpg" class="img-rounded" />
                                                <img src="../assets/img/examples/chris8.jpg" class="img-rounded" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane text-center" id="shows">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <img src="../assets/img/examples/chris4.jpg" class="img-rounded" />
                                                <img src="../assets/img/examples/chris6.jpg" class="img-rounded" />
                                            </div>
                                            <div class="col-md-6">
                                                <img src="../assets/img/examples/chris7.jpg" class="img-rounded" />
                                                <img src="../assets/img/examples/chris5.jpg" class="img-rounded" />
                                                <img src="../assets/img/examples/chris9.jpg" class="img-rounded" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- End Profile Tabs -->
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>