<app-nav></app-nav>
<div class="wrapper">
    <div class="header header-filter" style="background-image: url('../../assets/img/examples/city.jpg');"></div>

    <div class="main main-raised">
        <div class="container">
            <div class="row">
                <div class="profile">
                    <div class="avatar">
                        <img src="../assets/img/RaphPhotoFaceSmall.jpg" alt="Circle Image" class="img-circle img-responsive img-raised">
                    </div>
                    <div class="name">
                        <h1 class="title"> Raphaël Thiney</h1>
                        <h2 class="title">CTO/Architect/Project Manager/Developer</h2>
                    </div>
                </div>
            </div>

            <div class="section text-center section-landing">
                <h4 class="title">Experience</h4>
                <div class="team">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="../assets/img/logo/crankfrog.png" alt="Thumbnail Image" class="img-raised">
                                <h3 class="title">Crankfrog <br />
                                    <small class="text-muted">Consulting - CTO</small>
                                </h3>
                                <h6 class="title text-left">Project Details </h6>
                                <p class="text-left">Duties as CTO</p>
                                <ul class="description text-left">
                                    <li>Responsible for Crankfrog IT initiatives to support corporate functionality and security standards.</li>
                                    <li>Implementer and Administrator for Office 365 implementation.</li>
                                </ul>


                                <h6 class="title text-left">Coordination of Benefits (COB) Project for CAQH </h6>
                                <p class="text-left">This targets the $800M (annual) spent by insurance companies to figure out “who pays” …when an individual is covered by more than one insurance provider. Worked as lead automation tester on behalf of CAQH for testing the
                                    COB solution being delivered by Passport Health Communications.</p>
                                <ul class="description text-left">
                                    <li>Responsible for Crankfrog IT initiatives to support corporate functionality and security standards.</li>
                                    <li>Implementer and Administrator for Office 365 implementation.</li>
                                </ul>

                                <h6 class="title text-left"><a href="carebetween.com" target="_blank">CareBetween.com</a></h6>
                                <p class="text-left">This solution targets the ever-growing market of caregivers who are taking care of their ailing relative. This is a unique platform. It brings together caregiver, patient, and aide(s) so that Aides know what they have to
                                    do, and complete tasks through-out the day. The timelier, the better their “grade”. This will become the Uber of Caregiving.</p>
                                <ul class="description text-left">
                                    <li>Head of Project Development Group</li>
                                    <li>Manage team of 5 in India</li>
                                    <li>Architect of Entire solution</li>
                                    <li>Azure Deployment and Continuous Integration/Automation</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="../assets/img/logo/wp.png" alt="Warburg Pincus" class="img-raised logo">
                                <h3 class="title">Warburg Pincus<br />
                                    <small class="text-muted">Consulting – Architect</small>
                                </h3>
                                <h6 class="title text-left">Project Details</h6>
                                <p class="text-left">Consulted with CTO of Warburg Pincus on new platform for their quarterly valuation documentation process. Existing process required over 100 employees to manipulate Excel and Word documents each quarter to update narrative
                                    and fiscal content. The solution had to be partially web-based, but also work offline. Interfaces had to be web based, as well as integrate with Office</p>
                                <ul class="description text-left">
                                    <li>Interviewed and met with senior staff to determine the needs and current pain-points.</li>
                                    <li>Identified strategic architectural changes that benefited the firm. Presented findings to senior management, demonstrated ROI and led cross-silo project groups on multiple initiatives.</li>
                                    <li> Conducted extensive market due-diligence to determine buy vs. build strategy.</li>
                                    <li>Architected and managed team of developers and testers to implement solution using Agile SDLC methodologies.</li>
                                    <li>Streamlined process to reduce time-frame from 8 weeks to 2 weeks. Reduced staff by 80%.</li>
                                    <li> The solution implemented a wide variety of Microsoft and open-source technologies:<br> Office/VSTO, Web, WCF, OpenXML, SQL, ExtJS, Sharepoint, JQuery</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="/assets/img/logo/Aksia_Logo_small.png" alt="Aksia" class="img-raised">
                                <h3 class="title">Aksia<br/>
                                    <small class="text-muted">Head Of Information Technology</small>
                                </h3>
                                <h6 class="title text-left">Job Details</h6>
                                <p class="text-left">Head of IT Management and Application development. Oversight of all technology projects from Application Development to Network Administration. Responsible for defining and implementing the department strategy and developing
                                    corresponding technology solutions and process changes. Increased efficiency and effectiveness of firm by identifying processes and technology enhancements and leveraging firm-wise, departmental, industry, and open
                                    source technologies. Substantiate buy vs. build recommendations to the CEO through cost-benefit analysis. Formulated and lead multiple tactical projects as part of overall strategy implementation. Managed the development
                                    and progress-monitoring of individual initiatives. Defined and executed our DR/BC specification. Implemented and integrated a broad range of third party software included Adobe LiveCycle DRM, BlueSpring BPM, Bloomberg,
                                    Edgar Online, Dow Jones Factiva and Lucene.
                                </p>
                                <ul class="description text-left">
                                    <li>Interviewed and met with senior staff to determine the needs and current pain-points.</li>
                                    <li>Identified strategic architectural changes that benefited the firm. Presented findings to senior management, demonstrated ROI and led cross-silo project groups on multiple initiatives.</li>
                                    <li> Conducted extensive market due-diligence to determine buy vs. build strategy.</li>
                                    <li>Architected and managed team of developers and testers to implement solution using Agile SDLC methodologies.</li>
                                    <li>Streamlined process to reduce time-frame from 8 weeks to 2 weeks. Reduced staff by 80%.</li>
                                    <li> The solution implemented a wide variety of Microsoft and open-source technologies:<br> Office/VSTO, Web, WCF, OpenXML, SQL, ExtJS, Sharepoint, JQuery</li>
                                </ul>
                                <!--<h6 class="title text-left">Technical Achievements</h6>
                                <ul class="description text-left">
                                    <li>Architect/Design/Implementation of feature-rich corporate platform which integrated with 3rd-party workflow management system and could replace existing 3rd party solution (Backstop). This saved the company over $2M
                                        in development costs. Built using EXTJS/.NET 4.0/Ajax client-tier, EntityFramework/Subsonic middle-tier, SQL 2005/8 backend. Platform was capable of capturing all types of Hedge Fund data including but limited to:
                                        CRM, ADV, PPM, 13F, Fund Screener, Portfolio Accounting </li>
                                    <li>Architect/Design/Implementation of Extranet solution for client consumption of data, reports and financial tools; this achievement gave clients access to dynamic data rather than simple PDF reports. Using similar technologies
                                        .NET/EXTJS/Ajax/EntityFramework/Subsonic/SQL. </li>
                                    <li>Responsible for design and implementation of corporate internet site. www.aksia.com. </li>
                                    <li>Developed Office-Addins for Excel, Word and Outlook to integrate with intranet platform bringing content to and from desktop application to facilitate user integration and increase platform usage. </li>
                                    <li>Architected numerous windows services to manage data migrations and consolidate data across multiple platforms to facilitate reporting using SSRS and Crystal Reports. </li>
                                    <li>Developed portfolio management tools to allow clients to create various portfolio strategies and weight allocation. </li>
                                    <li>Integrated with Dow Jones Factiva for media content coverage giving clients direct access to Aksias’ financial opinions. </li>
                                    <li>Implemented Lucene, an open source indexing software to achieve google-like speeds when searching across hundreds of thousands of documents and database records. </li>
                                    <li>Implemented Adobe LiveCycle DRM for document encryption to protect intellectual property. </li>
                                    <li>Implemented VS Team Server 2010 (Agile/Scrum) to manage application development with 7 developers globally. </li>
                                    <li>Implemented VS Team Build server to continuously build checked-in code to ensure quality and reduce bugs.</li>

                                </ul>-->

                            </div>
                        </div>
                    </div>

                    <div class="row space-50">
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="/assets/img/logo/cerberus.png" alt="Cerberus Capital Management" class="img-raised logoProfile">
                                <h3 class="title">Cerberus Capital Management<br />
                                    <small class="text-muted">Project Manager/Senior Developer/Analyst</small>
                                </h3>
                                <h6 class="title text-left">Job Details </h6>
                                <p class="text-left">Managed all aspects for implementation of various company-wide applications across multiple business units in a matrix environment</p>
                                <ul class="description text-left">
                                    <li>Created high-visibility Internet and Intranet Applications which integrates with internal applications supporting Market Research, Human Resource, Building Facilities and Document Management System. </li>
                                    <li>Implemented CRM solution (Salesforce) for Private Equity department to consolidate reporting and provide upper management with dashboard style interface to current deals and email campaign results. </li>
                                    <li>Developed internal HRIS system capable of supporting intricate entity structure unique to organization. Capable of tracking employees and their transitions Portfolio companies. .NET/Subsonic </li>
                                    <li>Evaluate Investor Relations processes, instrumental in selection of vendor application to support mandated client quarterly and monthly statements, along with Partnership allocation, OFAC Tracking, Contribution and
                                        Distribution schedules, Subscription Documents, Side Letters, Wire Instructions, and General Correspondence </li>

                                    <li>Assisted in high visibility, large scale implementation of a global OpenText document management system (500+ users). Challenges include legacy data migration. </li>
                                    <li>Managed departmental scanning implementation. Project budget of $750,000. 10 Consultants </li>
                                    <li>Manage day to day activities of direct reports and mentor reports in concepts of KM, IT and business process. </li>
                                    <li>Streamline SDLC by implementing Visual Studio Team System for internal application development. </li>

                                </ul>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">

                                <img src="/assets/img/logo/cs.png" alt="Credit Suisse" class="img-raised logoProfile">
                                <h3 class="title">Credit Suisse<br />
                                    <small class="text-muted">Lead Application Developer</small>
                                </h3>
                                <h6 class="title text-left">Job Details</h6>
                                <p class="text-left">Lead Developer for emerging Global eBusiness division of Credit Suisse Asset Management (CSAM). Recent acquisitions focused groups’ attention to globally consolidating web-based strategies.</p>
                                <ul class="description text-left">
                                    <li> Established a full life-cycle development platform to maintain out-sourced legacy applications. </li>
                                    <li> Formalizes application development process for future application development in Global eBusiness and support current development for existing legacy applications.
                                    </li>
                                    <li> Develops secure platform for all future .NET global applications. </li>
                                    <li> Trains existing staff on new techniques and best practices for development in .NET. </li>
                                    <li> Work with functions across the global firm to improve and move business processes online. Manages Internet and intranet platforms and assist a variety of efforts worldwide. </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <a href="https://www.crunchbase.com/organization/capitalthinking/timeline#/timeline/index">
                                    <img src="/assets/img/logo/ct.png" alt="CapitalThinking" class="img-raised logoProfile">
                                </a>
                                <h3 class="title">CapitalThinking<br />
                                    <small class="text-muted">Principal Architect</small>
                                </h3>
                                <h6 class="title text-left">Job Details</h6>
                                <p class="text-left">First employee of this pioneering application software company for the financial services industry. Key participant in the team that developed solutions to the daunting regulatory financial reporting and compliance requirements
                                    faced by the industry, solutions adopted by clients such as GE Capital, Bank Of America, Royal Bank of Canada, Nomura, Cohen Finanial, PNC, and EuroHypo.
                                </p>
                                <ul class="description text-left">
                                    <li> Instrumental in securing $3 million in venture capital to begin the first commercial mortgage lending facility on the Internet by creating a demo web application. Charles Ferguson, creator of MS Office was our seed
                                        investor. </li>
                                    <li> Conceived and Developed “SOAP” enabled application to resolve data-points in word documents, from an Oracle database, tied to a commercial mortgage marketplace web site built in Java. Application maximized user acceptance
                                        for base product, by seamlessly integrating with current MS Office products. </li>
                                    <li> Conceived and Developed document conversion web service to automate the process of converting documents to other formats. Service would also syndicate XLS content and merge documents into one single file. </li>
                                    <li>
                                        Performed exhaustive presentation and documentation seminars. As well as complete team knowledge transfers to clients who chose to host application.
                                    </li>
                                    <li> Develops architecture to increase server availability by creating queue mechanisms to broker calls to multiple servers processing documents.
                                    </li>
                                    <li> Deals with broad range of international commercial mortgage banks to create statements of works and responses to requests for proposals.
                                    </li>
                                    <li> Creates desktop application add-ins to simplify process of conforming existing documents to product.</li>


                                </ul>
                            </div>
                        </div>



                    </div>
                </div>

            </div>


        </div>
    </div>