<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
            <!--<a href="http://raphael.myds.me">
                <div class="logo-container">
                    <div class="logo">
                        <img src="assets/img/RaphPhotoFaceSmall.jpg" class="img-circle  img-responsive img-raised" alt="    Raphaël  Thiney " rel="tooltip" title="<b>Site</b> was Designed & Coded by <b>    Raphaël  Thiney </b>" data-placement="bottom" data-html="true">

                    </div>
                    <div class="brand">

                    </div>
                </div>
            </a>-->

            <a href="http://rthiney.github.io">
                <div class="logo-container">
                    <div class="logo">
                        <img src="assets/img/RaphPhotoFaceSmall.jpg">
                    </div>
                    <div class="brand">
                        Raphaël Thiney
                    </div>
                </div>
            </a>




        </div>

        <div class="collapse navbar-collapse" id="navigation-example">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]=" ['/'] ">Home</a>
                </li>
                <li>
                    <a [routerLink]="['/profile']">Profile</a>
                </li>
                <li>

                    <a [routerLink]="['/clients']">Clients</a>
                </li>
                <li>
                    <a [routerLink]="['/projects']">Projects</a>
                </li>
                <li>
                    <a [routerLink]="['/contact']">Contact</a>
                </li>
                <li>
                    <a href="https://twitter.com/RaphaelThiney" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/raphaelthiney/" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.facebook.com/raphael.thiney" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/rthiney" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="wrapper">
    <div class="header header-filter" style="background-image: url('https://images.unsplash.com/photo-1423655156442-ccc11daa4e99?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450');">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Seasoned. Professional.</h1>
                    <h4>Get it done <strong>FAST</strong>, Get it done<strong> RIGHT</strong>. Get it done <strong>WELL</strong>.
                    </h4>

                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <div class="section text-center section-landing">

                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                            </div>
                            <h4 class="info-title">Speed Development</h4>
                            <p>Often, stakeholders need to have something in their hands before their ideas start to flow. I try to quickly create a Proof Of Concept, and gather that input early on. That feedback lets me quickly respond to user feedback,
                                rather than wait until delivery; better than any whiteboard or PowerPoint!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="fa fa-cubes" aria-hidden="true"></i>
                            </div>
                            <h4 class="info-title">Master Integrator</h4>
                            <p>Thoughout my carreer I have been integrating disparate systems. From legacy to new and disconnected. While this practice is becoming easier with new tools like micro-services, webjobs and workflow systems, I bring the experience
                                and business acumen to bring everyone together and execute.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                            <h4 class="info-title">Easy to Work With</h4>
                            <p>I'm easy to get along with. I'm a people person with a cunning business sense. I have started 3 companies, and help several others start their own along the way. I speak tech, finance, healthcare. Also French and Spanish!!</p>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title">Let's talk experience</h2>
                        <h5 class="description">
                            Seasoned hands-on CTO/Architect/Project Manager/Developer with full life-cycle project experience in production .NET deployments. A buttoned-up transformational technology leader with 20+ years of finance, and progressive healthcare and IT experience.
                            Strategic, goal-driven leader applying innovative technologies and processes to solve complex problems enhancing time to market and operational inefficiencies. Analytical and emotionally intelligent team lead adept at building
                            and sustaining strong business partnerships while integrating people, processes and technologies. Solid experience in developing and integrating complex web based solutions in a high-volume, consumer-facing transactional architecture
                            on a large scale. Entrepreneurial self-starter and persuasive communicator exhibiting both technical and business acumen. Seasoned hands-on CTO/Architect/Project Manager/Developer with full life-cycle project experience in
                            production .NET deployments. A buttoned-up transformational technology leader with 20+ years of finance, and progressive healthcare and IT experience. Strategic, goal-driven leader applying innovative technologies and processes
                            to solve complex problems enhancing time to market and operational inefficiencies. Analytical and emotionally intelligent team lead adept at building and sustaining strong business partnerships while integrating people, processes
                            and technologies. Solid experience in developing and integrating complex web based solutions in a high-volume, consumer-facing transactional architecture on a large scale. Entrepreneurial self-starter and persuasive communicator
                            exhibiting both technical and business acumen.</h5>
                        <h5 class="description"> I’ve been in the IT industry my entire career. I have over 25 years experience, spanning multiple domains including entertainment, banking, commercial mortgages, hedge-funds, and healthcare. I’m passionate about using technology
                            to solve hard business problems. I love making systems work together by either native integration, or custom, elegant solutions.</h5>
                        <h5 class="description"> Technology is a tool that needs to be wielded. Technology is not a push-button, “solve all of my issues” with one application; rather it takes a deep understanding of your users, their problems, and their goals. From that you begin
                            to develop a picture of what technology tool solves their problem. Moreover, having a deep understanding of future technology trends and expectations, building a solution that doesn’t pigeon-hole your client, but prepares them
                            for the future.</h5>
                    </div>
                </div>
            </div>

        </div>

    </div>